body {
  margin: auto;
  font-family: Arial;
  font-size: 12pt;
}

header {
  font-size: 14pt;
  text-align: center;
  margin-top: 25pt;
}

#search-field {
  width: 300pt;
}

#search-button {
  font-weight: bold;
  color: white;
  background-color: rgb(153, 0, 4);
  border-width: 1pt;
  border-style: solid;
  border-color: rgb(185, 0, 5);
  border-radius: 2pt;
}

.error h2 {
  color: red;
}

#nutrients {
  border-width: 1pt;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  width: 300pt;
}

#nutrients td {
  padding: 3pt;
}

#nutrients .black {
  background-color: #333;
  color: white;
}

#nutrients .nutrient {
  width: 65%;
}

#nutrients .amount {
  text-align: right;
}
