<div ng-controller="DetailController">
  <div class="error" ng-show="error">
    <h2>Food Not Found!</h2>
    <p>Something unexpected happened:</p>
    <p>{{error}}</p>
  </div>

  <div id="food-detals" ng-hide="error">
    <h2 id="long-description">{{food.LongDescription}}</h2>
    <div id="food-group">{{food.FoodGroup | foodGroupName}}</div>

    <div id="common-names">{{food.CommonNames}}</div>
    <div id="manufacturer">{{food.Manufacturer}}</div>

    <div id="refuse" ng-show="food.Refuse">{{food.Refuse}}% of this food is refuse. {{food.RefuseDescription}}.</div>

    <div id="units">
      <input type="number" ng-model="unitAmount"/>
      <select ng-model="unit" ng-options="u as u.Description for u in food.Weights" ng-change="onUnitsChanged()"></select>
      ({{unit.WeightG}} grams)
    </div>

    <table id="nutrients">
      <thead>
        <th>Nutrient</th>
        <th>Amount</th>
      </thead>
      <tr ng-repeat="nutrient in food.Nutrients" ng-class-odd="'black'">
        <td class="nutrient">{{nutrient.NutrientID | nutrientName}}</td>
        <td class="amount">{{calcNutrientUnits(nutrient.Value) | number:2}} {{nutrient.NutrientID | nutrientUnits}}</td>
      </tr>
    </table>
  </div>
</div>
