<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8"/>
    <title>Foodle - USDA NDB Search Engine</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="/css/screen.css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
  </head>
  <body class="container" ng-controller="SearchController">
    <header>
      <h1>Foodle</h1>
      <form ng-submit="search()">
        <input type="search" id="search-field" ng-model="query"/>
        <button type="submit" id="search-button">Search</button>
      </form>
    </header>

    <ul>
      <li ng-repeat="result in results">{{result.Description}}</li>
    </ul>
  </body>
</html>
